[submodule "UliKit"]
	path = UliKit
	url = git@github.com:uliwitness/UliKit.git
[submodule "UliPhoneKit"]
	path = UliPhoneKit
	url = git@github.com:uliwitness/UliPhoneKit.git
[submodule "UKDistributedView"]
	path = UKDistributedView
	url = git@github.com:uliwitness/UKDistributedView.git
[submodule "Sparkle"]
	path = Sparkle
	url = git@github.com:uliwitness/Sparkle.git
[submodule "ShortcutRecorder"]
	path = ShortcutRecorder
	url = https://github.com/uliwitness/ShortcutRecorder.git
