[submodule "UliKit"]
	path = UliKit
	url = git@github.com:uliwitness/UliKit.git
[submodule "UliPhoneKit"]
	path = UliPhoneKit
	url = git@github.com:uliwitness/UliPhoneKit.git
[submodule "UKDistributedView"]
	path = UKDistributedView
	url = git@github.com:uliwitness/UKDistributedView.git
[submodule "UKSyntaxColoredTextDocument"]
	path = UKSyntaxColoredTextDocument
	url = git@github.com:uliwitness/UKSyntaxColoredTextDocument.git
