<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>0.016730993986129761</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>0.016743987798690796</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UW</string>
		<key>phonemeOpcode</key>
		<integer>12</integer>
		<key>time</key>
		<real>0.1066419780254364</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>0.22376498579978943</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>0.30987998843193054</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>0.57356598973274231</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>0.85356000065803528</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>b</string>
		<key>phonemeOpcode</key>
		<integer>18</integer>
		<key>time</key>
		<real>0.85854798555374146</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AA</string>
		<key>phonemeOpcode</key>
		<integer>11</integer>
		<key>time</key>
		<real>0.93956899642944336</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>1.0565679967403412</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>1.127579003572464</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>1.2035549879074097</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>N</string>
		<key>phonemeOpcode</key>
		<integer>30</integer>
		<key>time</key>
		<real>1.2895789742469788</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>1.3555999994277954</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>1.4326129853725433</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>1.5135809779167175</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>1.5545819997787476</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>1.7165710031986237</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>1.809816986322403</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>b</string>
		<key>phonemeOpcode</key>
		<integer>18</integer>
		<key>time</key>
		<real>1.8896379768848419</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>1.9705619812011719</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>2.0675659775733948</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EY</string>
		<key>phonemeOpcode</key>
		<integer>3</integer>
		<key>time</key>
		<real>2.1435889899730682</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>2.3876290023326874</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>2.6670340001583099</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>2.671999990940094</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>2.7477429807186127</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>2.8189370036125183</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EH</string>
		<key>phonemeOpcode</key>
		<integer>7</integer>
		<key>time</key>
		<real>2.8958809971809387</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>2.9768029749393463</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>3.0428719818592072</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>3.0779399871826172</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EH</string>
		<key>phonemeOpcode</key>
		<integer>7</integer>
		<key>time</key>
		<real>3.1186169981956482</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>3.1986159980297089</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>3.2817829847335815</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>3.3629390001296997</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>OW</string>
		<key>phonemeOpcode</key>
		<integer>15</integer>
		<key>time</key>
		<real>3.402897983789444</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>3.5358549952507019</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>y</string>
		<key>phonemeOpcode</key>
		<integer>39</integer>
		<key>time</key>
		<real>3.611615002155304</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UW</string>
		<key>phonemeOpcode</key>
		<integer>12</integer>
		<key>time</key>
		<real>3.6676279902458191</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>3.8396529853343964</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>3.9106020033359528</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>4.0486840009689331</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>4.1396329998970032</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>4.1646139919757843</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>4.444610983133316</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>4.4496129751205444</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>OW</string>
		<key>phonemeOpcode</key>
		<integer>15</integer>
		<key>time</key>
		<real>4.5056099891662598</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>4.6376200020313263</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AO</string>
		<key>phonemeOpcode</key>
		<integer>4</integer>
		<key>time</key>
		<real>4.7286389768123627</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>4.881646990776062</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>4.9266619980335236</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AA</string>
		<key>phonemeOpcode</key>
		<integer>11</integer>
		<key>time</key>
		<real>5.033610999584198</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>g</string>
		<key>phonemeOpcode</key>
		<integer>23</integer>
		<key>time</key>
		<real>5.2118909955024719</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>5.2776159942150116</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>5.3076300024986267</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>f</string>
		<key>phonemeOpcode</key>
		<integer>22</integer>
		<key>time</key>
		<real>5.3836309909820557</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>5.4756389856338501</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>5.6426339745521545</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>5.9226219952106476</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>5.9276029765605927</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>5.9886280000209808</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>6.0286519825458527</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>6.0546199977397919</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>6.0956389904022217</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>6.1556209921836853</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>6.2276589870452881</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>6.3186779916286469</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>6.354667991399765</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>6.4309169948101044</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>6.4876669943332672</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>6.5476559996604919</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>h</string>
		<key>phonemeOpcode</key>
		<integer>24</integer>
		<key>time</key>
		<real>6.6286579966545105</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>6.6688849925994873</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>6.7659419775009155</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>6.7708579897880554</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>C</string>
		<key>phonemeOpcode</key>
		<integer>19</integer>
		<key>time</key>
		<real>6.8980409801006317</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UX</string>
		<key>phonemeOpcode</key>
		<integer>14</integer>
		<key>time</key>
		<real>7.0451769828796387</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>7.1367409825325012</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>7.1877119839191437</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>7.2800009846687317</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>7.375898003578186</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>7.4283219873905182</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>7.4283559918403625</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UW</string>
		<key>phonemeOpcode</key>
		<integer>12</integer>
		<key>time</key>
		<real>7.4291809797286987</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>7.4307380020618439</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>7.4314659833908081</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>7.4340369999408722</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>7.4365479946136475</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>b</string>
		<key>phonemeOpcode</key>
		<integer>18</integer>
		<key>time</key>
		<real>7.4365620017051697</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AA</string>
		<key>phonemeOpcode</key>
		<integer>11</integer>
		<key>time</key>
		<real>7.4370339810848236</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>7.4377719759941101</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>7.4381789863109589</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>7.4386830031871796</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>N</string>
		<key>phonemeOpcode</key>
		<integer>30</integer>
		<key>time</key>
		<real>7.4392409920692444</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>7.4396679997444153</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>7.4401429891586304</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>7.4406310021877289</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>7.4409189820289612</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>7.441891998052597</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>7.4424329996109009</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>b</string>
		<key>phonemeOpcode</key>
		<integer>18</integer>
		<key>time</key>
		<real>7.4429319798946381</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>7.4434320032596588</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>7.4439619779586792</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EY</string>
		<key>phonemeOpcode</key>
		<integer>3</integer>
		<key>time</key>
		<real>7.4444150030612946</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>7.4458789825439453</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>7.4474579989910126</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>7.4474699795246124</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>7.4479049742221832</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>7.4483209848403931</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EH</string>
		<key>phonemeOpcode</key>
		<integer>7</integer>
		<key>time</key>
		<real>7.4487949907779694</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>7.4492760002613068</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>7.4496939778327942</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>7.4500129818916321</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EH</string>
		<key>phonemeOpcode</key>
		<integer>7</integer>
		<key>time</key>
		<real>7.4503009915351868</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>7.4503159821033478</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>7.4512239992618561</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>7.4517450034618378</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>OW</string>
		<key>phonemeOpcode</key>
		<integer>15</integer>
		<key>time</key>
		<real>7.4519769847393036</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>7.4533569812774658</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>y</string>
		<key>phonemeOpcode</key>
		<integer>39</integer>
		<key>time</key>
		<real>7.4538339972496033</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UW</string>
		<key>phonemeOpcode</key>
		<integer>12</integer>
		<key>time</key>
		<real>7.4541719853878021</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>7.4552509784698486</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>7.4556629955768585</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>7.4565059840679169</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>7.4570269882678986</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>7.4571839869022369</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>7.4588079750537872</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>7.4588239789009094</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>OW</string>
		<key>phonemeOpcode</key>
		<integer>15</integer>
		<key>time</key>
		<real>7.4591760039329529</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>7.4600109755992889</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AO</string>
		<key>phonemeOpcode</key>
		<integer>4</integer>
		<key>time</key>
		<real>7.4605219960212708</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>7.4614270031452179</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>7.4617019891738892</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AA</string>
		<key>phonemeOpcode</key>
		<integer>11</integer>
		<key>time</key>
		<real>7.462583988904953</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>g</string>
		<key>phonemeOpcode</key>
		<integer>23</integer>
		<key>time</key>
		<real>7.4634909927845001</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>7.4638759791851044</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>7.464059978723526</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>f</string>
		<key>phonemeOpcode</key>
		<integer>22</integer>
		<key>time</key>
		<real>7.4645189940929413</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>7.4650809764862061</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>7.4660679996013641</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>7.467743992805481</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>7.4678099751472473</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>7.468205988407135</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>7.4685229957103729</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>7.4686259925365448</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>7.4688839912414551</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>7.4692599773406982</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>7.4697269797325134</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>7.4702920019626617</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>7.4705259799957275</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>7.4710829854011536</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>7.4711000025272369</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>7.471904993057251</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>h</string>
		<key>phonemeOpcode</key>
		<integer>24</integer>
		<key>time</key>
		<real>7.4724049866199493</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>7.4726469814777374</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>7.4732500016689301</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>7.4733199775218964</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>C</string>
		<key>phonemeOpcode</key>
		<integer>19</integer>
		<key>time</key>
		<real>7.4760069847106934</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UX</string>
		<key>phonemeOpcode</key>
		<integer>14</integer>
		<key>time</key>
		<real>7.4760209918022156</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>7.4760330021381378</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>7.4760420024394989</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>7.4760549962520599</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>7.4770369827747345</real>
	</dict>
</array>
</plist>
