<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>0.026212006807327271</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>y</string>
		<key>phonemeOpcode</key>
		<integer>39</integer>
		<key>time</key>
		<real>0.026238024234771729</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UW</string>
		<key>phonemeOpcode</key>
		<integer>12</integer>
		<key>time</key>
		<real>0.071779996156692505</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>S</string>
		<key>phonemeOpcode</key>
		<integer>34</integer>
		<key>time</key>
		<real>0.13078400492668152</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UH</string>
		<key>phonemeOpcode</key>
		<integer>13</integer>
		<key>time</key>
		<real>0.23804900050163269</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>0.30897802114486694</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>0.36027500033378601</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>0.41597899794578552</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>0.48260399699211121</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>0.59396800398826599</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>0.65989899635314941</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>0.69992402195930481</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>0.78088900446891785</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>g</string>
		<key>phonemeOpcode</key>
		<integer>23</integer>
		<key>time</key>
		<real>0.836993008852005</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>0.88783702254295349</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>0.92894202470779419</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>1.0559640228748322</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>1.1878499984741211</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>1.2540329992771149</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EY</string>
		<key>phonemeOpcode</key>
		<integer>3</integer>
		<key>time</key>
		<real>1.3500640094280243</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>Z</string>
		<key>phonemeOpcode</key>
		<integer>41</integer>
		<key>time</key>
		<real>1.5692290067672729</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>1.6351930201053619</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>1.6849850118160248</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>1.7360820174217224</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>1.7920650243759155</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>1.9600190222263336</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>2.2390260100364685</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>2.2453850209712982</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EH</string>
		<key>phonemeOpcode</key>
		<integer>7</integer>
		<key>time</key>
		<real>2.2998640239238739</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>2.3798760175704956</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>2.4631520211696625</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>2.5589550137519836</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>2.6198350191116333</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>2.7011550068855286</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UX</string>
		<key>phonemeOpcode</key>
		<integer>14</integer>
		<key>time</key>
		<real>2.7521070241928101</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>J</string>
		<key>phonemeOpcode</key>
		<integer>25</integer>
		<key>time</key>
		<real>2.8539970219135284</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>OW</string>
		<key>phonemeOpcode</key>
		<integer>15</integer>
		<key>time</key>
		<real>2.9499669969081879</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>v</string>
		<key>phonemeOpcode</key>
		<integer>37</integer>
		<key>time</key>
		<real>3.0719619989395142</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>3.1380480229854584</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>3.1929420232772827</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>3.2501220107078552</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>3.3160400092601776</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>3.4380710124969482</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>OW</string>
		<key>phonemeOpcode</key>
		<integer>15</integer>
		<key>time</key>
		<real>3.5090939998626709</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>3.849016010761261</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>3.9710060060024261</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>y</string>
		<key>phonemeOpcode</key>
		<integer>39</integer>
		<key>time</key>
		<real>4.0252950191497803</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>4.0253080129623413</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UW</string>
		<key>phonemeOpcode</key>
		<integer>12</integer>
		<key>time</key>
		<real>4.0253179967403412</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>S</string>
		<key>phonemeOpcode</key>
		<integer>34</integer>
		<key>time</key>
		<real>4.0259740054607391</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UH</string>
		<key>phonemeOpcode</key>
		<integer>13</integer>
		<key>time</key>
		<real>4.027178019285202</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>4.0271940231323242</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>4.0275759994983673</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>4.027849018573761</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>4.028317004442215</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>4.0289410054683685</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>4.0294740200042725</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>4.0371330082416534</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>4.0371520221233368</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>g</string>
		<key>phonemeOpcode</key>
		<integer>23</integer>
		<key>time</key>
		<real>4.0371659994125366</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>4.0371800065040588</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>4.0371880233287811</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>4.0372030138969421</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>4.0372120141983032</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>4.0372250080108643</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EY</string>
		<key>phonemeOpcode</key>
		<integer>3</integer>
		<key>time</key>
		<real>4.0372340083122253</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>Z</string>
		<key>phonemeOpcode</key>
		<integer>41</integer>
		<key>time</key>
		<real>4.0372500121593475</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>4.0372590124607086</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>4.0372730195522308</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>4.0372860133647919</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>4.037295013666153</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>4.0375560224056244</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>4.0413520038127899</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>4.0413710176944733</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EH</string>
		<key>phonemeOpcode</key>
		<integer>7</integer>
		<key>time</key>
		<real>4.041467010974884</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>4.041483998298645</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>4.0418040156364441</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>4.0424050092697144</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>4.0644270181655884</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>4.0659590065479279</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UX</string>
		<key>phonemeOpcode</key>
		<integer>14</integer>
		<key>time</key>
		<real>4.0662040114402771</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>J</string>
		<key>phonemeOpcode</key>
		<integer>25</integer>
		<key>time</key>
		<real>4.0690440237522125</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>OW</string>
		<key>phonemeOpcode</key>
		<integer>15</integer>
		<key>time</key>
		<real>4.0690670013427734</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>v</string>
		<key>phonemeOpcode</key>
		<integer>37</integer>
		<key>time</key>
		<real>4.0703819990158081</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>4.0704040229320526</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>4.0704250037670135</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>4.0715520083904266</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>4.0733129978179932</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>4.0734180212020874</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>OW</string>
		<key>phonemeOpcode</key>
		<integer>15</integer>
		<key>time</key>
		<real>4.0796480178833008</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>4.0797200202941895</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>4.0807200074195862</real>
	</dict>
</array>
</plist>
