<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>0.01610100269317627</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>f</string>
		<key>phonemeOpcode</key>
		<integer>22</integer>
		<key>time</key>
		<real>0.016131013631820679</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EY</string>
		<key>phonemeOpcode</key>
		<integer>3</integer>
		<key>time</key>
		<real>0.11224299669265747</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>0.23406201601028442</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>0.30006399750709534</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>0.36633801460266113</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>0.46822100877761841</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>0.50828799605369568</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>0.63534998893737793</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>0.73723000288009644</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>w</string>
		<key>phonemeOpcode</key>
		<integer>38</integer>
		<key>time</key>
		<real>0.77220499515533447</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>0.81307801604270935</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>0.94014900922775269</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>1.0722779929637909</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>1.1382720172405243</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>1.2451409995555878</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>1.6713690161705017</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>w</string>
		<key>phonemeOpcode</key>
		<integer>38</integer>
		<key>time</key>
		<real>1.6761730015277863</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>1.7171780169010162</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>1.8954060077667236</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>1.9771530032157898</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>2.0422930121421814</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>2.1644990146160126</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>2.2403610050678253</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>2.3016940057277679</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>2.4281220138072968</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>2.4694069921970367</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>2.5041140019893646</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>N</string>
		<key>phonemeOpcode</key>
		<integer>30</integer>
		<key>time</key>
		<real>2.5913360118865967</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AA</string>
		<key>phonemeOpcode</key>
		<integer>11</integer>
		<key>time</key>
		<real>2.6573359966278076</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>2.7891589999198914</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>2.8404330015182495</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>2.9013009965419769</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>2.9724250137805939</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>3.0382679998874664</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>3.1491889953613281</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>3.2213689982891083</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>3.2762860059738159</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>3.3831639885902405</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>S</string>
		<key>phonemeOpcode</key>
		<integer>34</integer>
		<key>time</key>
		<real>3.4543090164661407</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>3.5462529957294464</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>3.7394460141658783</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>3.8151650130748749</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>3.8404090106487274</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>3.8852159976959229</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>f</string>
		<key>phonemeOpcode</key>
		<integer>22</integer>
		<key>time</key>
		<real>3.8852420151233673</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EY</string>
		<key>phonemeOpcode</key>
		<integer>3</integer>
		<key>time</key>
		<real>3.8862830102443695</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>3.8875060081481934</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>3.8881280124187469</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>3.8887380063533783</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>3.8895770013332367</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>3.8899329900741577</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>3.8909780085086823</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>3.8918000161647797</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>w</string>
		<key>phonemeOpcode</key>
		<integer>38</integer>
		<key>time</key>
		<real>3.8921200037002563</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>3.8924599885940552</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>3.8924759924411774</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>3.8941549956798553</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>3.8945620059967041</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>3.8952400088310242</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>3.8978210091590881</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>w</string>
		<key>phonemeOpcode</key>
		<integer>38</integer>
		<key>time</key>
		<real>3.8978390097618103</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>3.8980999886989594</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>3.8992069959640503</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>3.899726003408432</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>3.9001579880714417</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>3.9008760154247284</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>3.9013639986515045</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>3.9016750156879425</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>3.9024490118026733</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>3.9027079939842224</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>3.9029619991779327</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>N</string>
		<key>phonemeOpcode</key>
		<integer>30</integer>
		<key>time</key>
		<real>3.9035089910030365</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AA</string>
		<key>phonemeOpcode</key>
		<integer>11</integer>
		<key>time</key>
		<real>3.9047420024871826</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>3.9053550064563751</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>3.9053670167922974</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>3.9057880043983459</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>3.9062080085277557</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>3.9066140055656433</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>3.9072999954223633</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>3.9077340066432953</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>3.908051997423172</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>3.9087069928646088</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>S</string>
		<key>phonemeOpcode</key>
		<integer>34</integer>
		<key>time</key>
		<real>3.9091240167617798</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>3.9096919894218445</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>3.9108679890632629</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>3.9113740026950836</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>3.9115960001945496</real>
	</dict>
</array>
</plist>
