<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>0.017726004123687744</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>0.019917011260986328</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>0.13879299163818359</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>0.2107509970664978</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EY</string>
		<key>phonemeOpcode</key>
		<integer>3</integer>
		<key>time</key>
		<real>0.27674999833106995</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>0.43375700712203979</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>0.49973899126052856</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>b</string>
		<key>phonemeOpcode</key>
		<integer>18</integer>
		<key>time</key>
		<real>0.56079700589179993</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>0.62176999449729919</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>0.6631850004196167</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>N</string>
		<key>phonemeOpcode</key>
		<integer>30</integer>
		<key>time</key>
		<real>0.79001301527023315</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>0.83489799499511719</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>0.8810259997844696</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EY</string>
		<key>phonemeOpcode</key>
		<integer>3</integer>
		<key>time</key>
		<real>0.94196298718452454</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>1.0939989984035492</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AA</string>
		<key>phonemeOpcode</key>
		<integer>11</integer>
		<key>time</key>
		<real>1.1810510158538818</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>1.3330099880695343</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>f</string>
		<key>phonemeOpcode</key>
		<integer>22</integer>
		<key>time</key>
		<real>1.3989689946174622</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>1.4699620008468628</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>1.526964008808136</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>v</string>
		<key>phonemeOpcode</key>
		<integer>37</integer>
		<key>time</key>
		<real>1.5869919955730438</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AA</string>
		<key>phonemeOpcode</key>
		<integer>11</integer>
		<key>time</key>
		<real>1.6628710031509399</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>1.8160789906978607</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>y</string>
		<key>phonemeOpcode</key>
		<integer>39</integer>
		<key>time</key>
		<real>1.8822680115699768</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UW</string>
		<key>phonemeOpcode</key>
		<integer>12</integer>
		<key>time</key>
		<real>1.9169870018959045</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>2.0698820054531097</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>2.1810199916362762</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>2.2069819867610931</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>2.7809999883174896</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>2.781031996011734</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>2.8372530043125153</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>2.8980869948863983</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>2.9640069901943207</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>3.1058470010757446</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>3.1721250116825104</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>3.1970620155334473</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>h</string>
		<key>phonemeOpcode</key>
		<integer>24</integer>
		<key>time</key>
		<real>3.4271869957447052</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UW</string>
		<key>phonemeOpcode</key>
		<integer>12</integer>
		<key>time</key>
		<real>3.4871799945831299</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>3.5933310091495514</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>3.6541149914264679</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>v</string>
		<key>phonemeOpcode</key>
		<integer>37</integer>
		<key>time</key>
		<real>3.7710089981555939</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>3.8470779955387115</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>3.9129349887371063</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EH</string>
		<key>phonemeOpcode</key>
		<integer>7</integer>
		<key>time</key>
		<real>3.9540239870548248</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>4.0399680137634277</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>4.1111469864845276</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>4.1881470084190369</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>4.228056013584137</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AO</string>
		<key>phonemeOpcode</key>
		<integer>4</integer>
		<key>time</key>
		<real>4.2790310084819794</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>4.355987012386322</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>4.4370290040969849</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>4.5281240046024323</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>4.6140240132808685</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>4.6652019917964935</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>4.721092015504837</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EY</string>
		<key>phonemeOpcode</key>
		<integer>3</integer>
		<key>time</key>
		<real>4.7969219982624054</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>5.0260629951953888</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>5.1270770132541656</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>5.163098007440567</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>5.1881630122661591</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>5.2350780069828033</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>5.2350989878177643</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>5.2363590002059937</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>5.2375580072402954</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EY</string>
		<key>phonemeOpcode</key>
		<integer>3</integer>
		<key>time</key>
		<real>5.2377960085868835</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>5.2394720017910004</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>5.2401350140571594</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>b</string>
		<key>phonemeOpcode</key>
		<integer>18</integer>
		<key>time</key>
		<real>5.2407099902629852</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>5.2412750124931335</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>5.2417390048503876</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>N</string>
		<key>phonemeOpcode</key>
		<integer>30</integer>
		<key>time</key>
		<real>5.242807000875473</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>5.2431780099868774</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>5.2434470057487488</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EY</string>
		<key>phonemeOpcode</key>
		<integer>3</integer>
		<key>time</key>
		<real>5.2437810003757477</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>5.2447150051593781</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AA</string>
		<key>phonemeOpcode</key>
		<integer>11</integer>
		<key>time</key>
		<real>5.2452299892902374</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>5.2462449967861176</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>f</string>
		<key>phonemeOpcode</key>
		<integer>22</integer>
		<key>time</key>
		<real>5.246641993522644</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>5.2471249997615814</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>5.2471399903297424</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>v</string>
		<key>phonemeOpcode</key>
		<integer>37</integer>
		<key>time</key>
		<real>5.2477970123291016</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AA</string>
		<key>phonemeOpcode</key>
		<integer>11</integer>
		<key>time</key>
		<real>5.2482770085334778</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>5.2491810023784637</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>y</string>
		<key>phonemeOpcode</key>
		<integer>39</integer>
		<key>time</key>
		<real>5.2495670020580292</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UW</string>
		<key>phonemeOpcode</key>
		<integer>12</integer>
		<key>time</key>
		<real>5.2500379979610443</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>5.2507140040397644</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>5.2513779997825623</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>5.2515360116958618</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>5.2577320039272308</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>5.2578639984130859</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>5.2580560147762299</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>5.2587240040302277</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>5.2593519985675812</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>5.260886013507843</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>5.261583000421524</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>5.2619290053844452</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>h</string>
		<key>phonemeOpcode</key>
		<integer>24</integer>
		<key>time</key>
		<real>5.2643760144710541</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UW</string>
		<key>phonemeOpcode</key>
		<integer>12</integer>
		<key>time</key>
		<real>5.2650580108165741</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>5.2660540044307709</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>5.2666429877281189</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>v</string>
		<key>phonemeOpcode</key>
		<integer>37</integer>
		<key>time</key>
		<real>5.2678639888763428</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>5.2685889899730682</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>5.2691380083560944</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EH</string>
		<key>phonemeOpcode</key>
		<integer>7</integer>
		<key>time</key>
		<real>5.2695460021495819</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>5.2703669965267181</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>5.2710149884223938</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>5.2716419994831085</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>5.2719810009002686</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AO</string>
		<key>phonemeOpcode</key>
		<integer>4</integer>
		<key>time</key>
		<real>5.2724109888076782</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>5.2724269926548004</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>5.2737280130386353</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>5.2743149995803833</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>5.2749670147895813</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>5.2753779888153076</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>5.2758330106735229</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EY</string>
		<key>phonemeOpcode</key>
		<integer>3</integer>
		<key>time</key>
		<real>5.2763720154762268</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>5.27777299284935</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>5.2784129977226257</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>5.278668999671936</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>5.2788270115852356</real>
	</dict>
</array>
</plist>
