<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>0.017499983310699463</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>0.01752898097038269</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>0.088353991508483887</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>0.13827499747276306</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>0.17444398999214172</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AW</string>
		<key>phonemeOpcode</key>
		<integer>16</integer>
		<key>time</key>
		<real>0.2352759838104248</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>0.59036198258399963</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>0.87026000022888184</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>0.87521898746490479</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>0.93135499954223633</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>b</string>
		<key>phonemeOpcode</key>
		<integer>18</integer>
		<key>time</key>
		<real>0.99246799945831299</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>1.0734350085258484</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>1.1903339922428131</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>1.2303789854049683</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>1.2666189968585968</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>1.2913160026073456</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>1.5203689932823181</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>1.5767039954662323</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>1.6674250066280365</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>1.6724839806556702</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>1.7544879913330078</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>1.7894359827041626</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>1.8405160009860992</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>1.9113139808177948</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>2.0844619870185852</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>2.1412839889526367</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>2.2014800012111664</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>2.2512869834899902</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>2.2924279868602753</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>2.353333979845047</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EY</string>
		<key>phonemeOpcode</key>
		<integer>3</integer>
		<key>time</key>
		<real>2.4803319871425629</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>2.6785700023174286</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>N</string>
		<key>phonemeOpcode</key>
		<integer>30</integer>
		<key>time</key>
		<real>2.8054080009460449</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>2.9173649847507477</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>2.9423919916152954</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>3.2225480079650879</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>3.2274110019207001</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>3.3035779893398285</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AA</string>
		<key>phonemeOpcode</key>
		<integer>11</integer>
		<key>time</key>
		<real>3.3644309937953949</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>3.5165839791297913</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>3.5823969841003418</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>3.6234019994735718</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>3.6843299865722656</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>y</string>
		<key>phonemeOpcode</key>
		<integer>39</integer>
		<key>time</key>
		<real>3.7602889835834503</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UW</string>
		<key>phonemeOpcode</key>
		<integer>12</integer>
		<key>time</key>
		<real>3.8367879986763</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>4.0754979848861694</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>4.171453982591629</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>4.3096199929714203</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>4.4006519913673401</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>4.4255830049514771</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>4.4789530038833618</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>4.4789749979972839</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>4.4797659814357758</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>4.4803319871425629</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>4.4807119965553284</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AW</string>
		<key>phonemeOpcode</key>
		<integer>16</integer>
		<key>time</key>
		<real>4.481471985578537</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>4.4853380024433136</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>4.487866997718811</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>4.4878830015659332</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>4.4882909953594208</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>b</string>
		<key>phonemeOpcode</key>
		<integer>18</integer>
		<key>time</key>
		<real>4.4887639880180359</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>4.489327996969223</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>4.4900429844856262</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>4.4902879893779755</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>4.4905059933662415</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>4.4906669855117798</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>4.4920400083065033</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>4.4923720061779022</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>4.4929549992084503</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>4.4930349886417389</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>4.4936259984970093</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>4.4939109981060028</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>4.4942210018634796</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>4.4945850074291229</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>4.4956159889698029</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>4.495631992816925</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>4.4963109791278839</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>4.496616005897522</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>4.49686199426651</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>4.4972469806671143</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EY</string>
		<key>phonemeOpcode</key>
		<integer>3</integer>
		<key>time</key>
		<real>4.4980480074882507</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>4.4992029964923859</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>N</string>
		<key>phonemeOpcode</key>
		<integer>30</integer>
		<key>time</key>
		<real>4.5000839829444885</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>4.5007719993591309</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>4.5009320080280304</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>4.5028069913387299</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>4.502824991941452</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>4.5032849907875061</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AA</string>
		<key>phonemeOpcode</key>
		<integer>11</integer>
		<key>time</key>
		<real>4.5036610066890717</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>4.5045219957828522</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>4.5048919916152954</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>4.5051319897174835</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>4.5055379867553711</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>y</string>
		<key>phonemeOpcode</key>
		<integer>39</integer>
		<key>time</key>
		<real>4.5060189962387085</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UW</string>
		<key>phonemeOpcode</key>
		<integer>12</integer>
		<key>time</key>
		<real>4.5065560042858124</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>4.5079639852046967</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>4.5085519850254059</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>4.5093939900398254</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>4.509893000125885</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>4.510109007358551</real>
	</dict>
</array>
</plist>
