<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>0.014764010906219482</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>0.014786005020141602</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>0.13599500060081482</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>0.22779500484466553</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>0.32878100872039795</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>0.3647570013999939</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>0.39548501372337341</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>0.47704401612281799</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>0.56778600811958313</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>0.63875401020050049</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>0.67997100949287415</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>f</string>
		<key>phonemeOpcode</key>
		<integer>22</integer>
		<key>time</key>
		<real>0.76098701357841492</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>0.85792002081871033</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>1.0099320113658905</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>1.0509540140628815</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>1.0761210024356842</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>1.1269600093364716</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>b</string>
		<key>phonemeOpcode</key>
		<integer>18</integer>
		<key>time</key>
		<real>1.2490200102329254</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UX</string>
		<key>phonemeOpcode</key>
		<integer>14</integer>
		<key>time</key>
		<real>1.330005019903183</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>b</string>
		<key>phonemeOpcode</key>
		<integer>18</integer>
		<key>time</key>
		<real>1.4209060072898865</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>1.4979280233383179</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>1.5549270212650299</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>g</string>
		<key>phonemeOpcode</key>
		<integer>23</integer>
		<key>time</key>
		<real>1.6149280071258545</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UX</string>
		<key>phonemeOpcode</key>
		<integer>14</integer>
		<key>time</key>
		<real>1.7108920216560364</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>1.8888590037822723</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>2.0008560121059418</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>2.0259349942207336</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>2.5999050140380859</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>2.5999500155448914</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>2.6859150230884552</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>2.7420029938220978</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>2.8184380233287811</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UX</string>
		<key>phonemeOpcode</key>
		<integer>14</integer>
		<key>time</key>
		<real>2.9000110030174255</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>2.9859990179538727</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>w</string>
		<key>phonemeOpcode</key>
		<integer>38</integer>
		<key>time</key>
		<real>3.0372090041637421</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EH</string>
		<key>phonemeOpcode</key>
		<integer>7</integer>
		<key>time</key>
		<real>3.0619229972362518</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>3.148932009935379</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>3.2403199970722198</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>3.4678660035133362</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>3.5549139976501465</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>h</string>
		<key>phonemeOpcode</key>
		<integer>24</integer>
		<key>time</key>
		<real>3.6211729943752289</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>3.676800012588501</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>3.8219279944896698</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>3.9708410203456879</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>4.2514670193195343</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>4.256058007478714</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>4.3830200135707855</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>OW</string>
		<key>phonemeOpcode</key>
		<integer>15</integer>
		<key>time</key>
		<real>4.4589010179042816</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>4.6469050049781799</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>4.7028010189533234</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>4.8599410057067871</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>4.9408660233020782</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>4.9670889973640442</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>5.0214170217514038</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>5.0214399993419647</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>5.0214579999446869</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AE</string>
		<key>phonemeOpcode</key>
		<integer>2</integer>
		<key>time</key>
		<real>5.0214680135250092</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>5.0214850008487701</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>5.0215040147304535</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>5.0215220153331757</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>5.0215330123901367</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>5.0256430208683014</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>5.0256650149822235</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>5.0256749987602234</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>f</string>
		<key>phonemeOpcode</key>
		<integer>22</integer>
		<key>time</key>
		<real>5.0256890058517456</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>5.0257000029087067</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>5.0257140100002289</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>5.0257280170917511</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>5.0257430076599121</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>5.0257530212402344</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>b</string>
		<key>phonemeOpcode</key>
		<integer>18</integer>
		<key>time</key>
		<real>5.0257650017738342</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UX</string>
		<key>phonemeOpcode</key>
		<integer>14</integer>
		<key>time</key>
		<real>5.0257770121097565</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>b</string>
		<key>phonemeOpcode</key>
		<integer>18</integer>
		<key>time</key>
		<real>5.0339660048484802</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>5.0340210199356079</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>5.0340790152549744</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>g</string>
		<key>phonemeOpcode</key>
		<integer>23</integer>
		<key>time</key>
		<real>5.0341250002384186</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UX</string>
		<key>phonemeOpcode</key>
		<integer>14</integer>
		<key>time</key>
		<real>5.0341690182685852</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>5.0342180132865906</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>5.0342520177364349</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>5.034281998872757</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>5.0399010181427002</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>5.0407990217208862</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>5.043269008398056</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>5.0433000028133392</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>5.0458070039749146</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UX</string>
		<key>phonemeOpcode</key>
		<integer>14</integer>
		<key>time</key>
		<real>5.0460890233516693</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>5.0549980103969574</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>w</string>
		<key>phonemeOpcode</key>
		<integer>38</integer>
		<key>time</key>
		<real>5.0552220046520233</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EH</string>
		<key>phonemeOpcode</key>
		<integer>7</integer>
		<key>time</key>
		<real>5.0552340149879456</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>5.0552480220794678</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>5.0552560091018677</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>5.0552650094032288</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>5.0552780032157898</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>h</string>
		<key>phonemeOpcode</key>
		<integer>24</integer>
		<key>time</key>
		<real>5.0552909970283508</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>5.0552999973297119</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>5.0553140044212341</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>5.0615639984607697</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>5.0615780055522919</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>5.0615890026092529</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>5.061601996421814</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>OW</string>
		<key>phonemeOpcode</key>
		<integer>15</integer>
		<key>time</key>
		<real>5.0616130232810974</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>5.0616210103034973</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>5.0616289973258972</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>5.0616440176963806</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>5.0621879994869232</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>5.0621980130672455</real>
	</dict>
</array>
</plist>
