<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>0.01700901985168457</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>w</string>
		<key>phonemeOpcode</key>
		<integer>38</integer>
		<key>time</key>
		<real>0.017031997442245483</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EH</string>
		<key>phonemeOpcode</key>
		<integer>7</integer>
		<key>time</key>
		<real>0.055754005908966064</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>0.14292100071907043</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>0.23412501811981201</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>0.29492801427841187</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>0.39593401551246643</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>0.46198299527168274</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>0.51280102133750916</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>0.56910401582717896</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>0.67614701390266418</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>0.76698300242424011</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>0.86914801597595215</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>0.95011299848556519</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>1.0259419977664948</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>1.1129879951477051</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>1.1478400230407715</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>1.2349870204925537</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>1.3348470032215118</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>1.4379930198192596</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>1.5390329957008362</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>1.5751230120658875</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>1.5999680161476135</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>1.8800089955329895</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>1.8849590122699738</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>1.9410260021686554</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>2.0520050227642059</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>2.1340520083904266</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>2.1841959953308105</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AO</string>
		<key>phonemeOpcode</key>
		<integer>4</integer>
		<key>time</key>
		<real>2.2499530017375946</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>2.326992005109787</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>2.4079760015010834</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>2.4739699959754944</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>2.5290240049362183</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>2.585983008146286</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>T</string>
		<key>phonemeOpcode</key>
		<integer>36</integer>
		<key>time</key>
		<real>2.6419350206851959</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>2.7021619975566864</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>N</string>
		<key>phonemeOpcode</key>
		<integer>30</integer>
		<key>time</key>
		<real>2.7890489995479584</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>2.8549399971961975</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>2.9309990108013153</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>3.0119210183620453</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AA</string>
		<key>phonemeOpcode</key>
		<integer>11</integer>
		<key>time</key>
		<real>3.0531270205974579</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>3.1849830150604248</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>3.2410660088062286</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UX</string>
		<key>phonemeOpcode</key>
		<integer>14</integer>
		<key>time</key>
		<real>3.3220010101795197</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>3.4638960063457489</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>3.5207900106906891</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>3.6119720041751862</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>3.7081810235977173</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>3.9880430102348328</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>b</string>
		<key>phonemeOpcode</key>
		<integer>18</integer>
		<key>time</key>
		<real>3.9930900037288666</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UX</string>
		<key>phonemeOpcode</key>
		<integer>14</integer>
		<key>time</key>
		<real>4.073853999376297</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>4.1648940145969391</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>4.2211010158061981</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UW</string>
		<key>phonemeOpcode</key>
		<integer>12</integer>
		<key>time</key>
		<real>4.2819470167160034</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>4.4188820123672485</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>4.4800430238246918</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>4.5510430037975311</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EH</string>
		<key>phonemeOpcode</key>
		<integer>7</integer>
		<key>time</key>
		<real>4.6280640065670013</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>4.7089440226554871</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>4.774946004152298</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>g</string>
		<key>phonemeOpcode</key>
		<integer>23</integer>
		<key>time</key>
		<real>4.8158639967441559</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AA</string>
		<key>phonemeOpcode</key>
		<integer>11</integer>
		<key>time</key>
		<real>4.8871480226516724</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>5.0292460024356842</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>5.0800980031490326</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>f</string>
		<key>phonemeOpcode</key>
		<integer>22</integer>
		<key>time</key>
		<real>5.1459600031375885</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>5.2170450091362</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>5.3440300226211548</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>5.3950720131397247</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>5.4519129991531372</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>w</string>
		<key>phonemeOpcode</key>
		<integer>38</integer>
		<key>time</key>
		<real>5.5109679996967316</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>5.5519150197505951</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>5.6220120191574097</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>5.6940990090370178</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AA</string>
		<key>phonemeOpcode</key>
		<integer>11</integer>
		<key>time</key>
		<real>5.76009401679039</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>5.8920010030269623</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>w</string>
		<key>phonemeOpcode</key>
		<integer>38</integer>
		<key>time</key>
		<real>5.958046019077301</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EH</string>
		<key>phonemeOpcode</key>
		<integer>7</integer>
		<key>time</key>
		<real>5.9845159947872162</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>6.0710600018501282</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>y</string>
		<key>phonemeOpcode</key>
		<integer>39</integer>
		<key>time</key>
		<real>6.1620489954948425</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AO</string>
		<key>phonemeOpcode</key>
		<integer>4</integer>
		<key>time</key>
		<real>6.217056006193161</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>6.2940960228443146</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>6.3749120235443115</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>6.4359270036220551</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>6.5420269966125488</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>6.6088860034942627</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EH</string>
		<key>phonemeOpcode</key>
		<integer>7</integer>
		<key>time</key>
		<real>6.7101899981498718</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>6.9180050194263458</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>7.0200560092926025</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>7.0560950040817261</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>7.0810520052909851</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>7.1269020140171051</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>w</string>
		<key>phonemeOpcode</key>
		<integer>38</integer>
		<key>time</key>
		<real>7.1269380152225494</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EH</string>
		<key>phonemeOpcode</key>
		<integer>7</integer>
		<key>time</key>
		<real>7.1279360055923462</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>7.1279710233211517</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>7.1291140019893646</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>7.1296710073947906</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>7.1308619976043701</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>7.1315120160579681</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>7.1321170032024384</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>7.1324860155582428</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>7.1333930194377899</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>7.1341240108013153</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>7.1350190043449402</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>7.1357020139694214</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>7.1363020241260529</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>7.1370179951190948</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>7.1372900009155273</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>7.1378520131111145</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>7.1378760039806366</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>7.1392950117588043</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>7.1399780213832855</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>7.1401959955692291</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>7.1403660178184509</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>7.1419599950313568</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>D</string>
		<key>phonemeOpcode</key>
		<integer>21</integer>
		<key>time</key>
		<real>7.141974002122879</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IY</string>
		<key>phonemeOpcode</key>
		<integer>6</integer>
		<key>time</key>
		<real>7.142315000295639</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>7.142987996339798</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>m</string>
		<key>phonemeOpcode</key>
		<integer>28</integer>
		<key>time</key>
		<real>7.1434850096702576</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>7.1438060104846954</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AO</string>
		<key>phonemeOpcode</key>
		<integer>4</integer>
		<key>time</key>
		<real>7.144197016954422</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>7.1442130208015442</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>7.1451130211353302</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>7.1455059945583344</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>7.1455210149288177</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>7.1461710035800934</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>T</string>
		<key>phonemeOpcode</key>
		<integer>36</integer>
		<key>time</key>
		<real>7.1465090215206146</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>7.1468630135059357</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>N</string>
		<key>phonemeOpcode</key>
		<integer>30</integer>
		<key>time</key>
		<real>7.1473930180072784</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>7.147801011800766</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>7.1482779979705811</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>7.1487730145454407</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AA</string>
		<key>phonemeOpcode</key>
		<integer>11</integer>
		<key>time</key>
		<real>7.1490119993686676</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>7.149821013212204</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>7.1501220166683197</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UX</string>
		<key>phonemeOpcode</key>
		<integer>14</integer>
		<key>time</key>
		<real>7.1505970060825348</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>7.1514520049095154</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>7.1518080234527588</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>7.1518239974975586</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>7.1529120206832886</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>7.1544810235500336</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>b</string>
		<key>phonemeOpcode</key>
		<integer>18</integer>
		<key>time</key>
		<real>7.1544940173625946</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UX</string>
		<key>phonemeOpcode</key>
		<integer>14</integer>
		<key>time</key>
		<real>7.1549560129642487</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>7.1555110216140747</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>7.1558389961719513</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>UW</string>
		<key>phonemeOpcode</key>
		<integer>12</integer>
		<key>time</key>
		<real>7.1561730206012726</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>7.1569990217685699</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>k</string>
		<key>phonemeOpcode</key>
		<integer>26</integer>
		<key>time</key>
		<real>7.157380998134613</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>7.1577800214290619</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EH</string>
		<key>phonemeOpcode</key>
		<integer>7</integer>
		<key>time</key>
		<real>7.1582340002059937</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>7.1587300002574921</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>t</string>
		<key>phonemeOpcode</key>
		<integer>35</integer>
		<key>time</key>
		<real>7.1591100096702576</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>g</string>
		<key>phonemeOpcode</key>
		<integer>23</integer>
		<key>time</key>
		<real>7.1593370139598846</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AA</string>
		<key>phonemeOpcode</key>
		<integer>11</integer>
		<key>time</key>
		<real>7.1597860157489777</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>7.1605640053749084</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>z</string>
		<key>phonemeOpcode</key>
		<integer>40</integer>
		<key>time</key>
		<real>7.1608900129795074</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>f</string>
		<key>phonemeOpcode</key>
		<integer>22</integer>
		<key>time</key>
		<real>7.1612910032272339</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AY</string>
		<key>phonemeOpcode</key>
		<integer>9</integer>
		<key>time</key>
		<real>7.1617110073566437</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>7.1624779999256134</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>7.1627940237522125</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>7.1628119945526123</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>w</string>
		<key>phonemeOpcode</key>
		<integer>38</integer>
		<key>time</key>
		<real>7.1634970009326935</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AX</string>
		<key>phonemeOpcode</key>
		<integer>5</integer>
		<key>time</key>
		<real>7.1637510061264038</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>7.163767009973526</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>7.1645829975605011</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AA</string>
		<key>phonemeOpcode</key>
		<integer>11</integer>
		<key>time</key>
		<real>7.1649500131607056</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>7.1657510101795197</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>w</string>
		<key>phonemeOpcode</key>
		<integer>38</integer>
		<key>time</key>
		<real>7.1662060022354126</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EH</string>
		<key>phonemeOpcode</key>
		<integer>7</integer>
		<key>time</key>
		<real>7.1663870215415955</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>7.1664029955863953</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>y</string>
		<key>phonemeOpcode</key>
		<integer>39</integer>
		<key>time</key>
		<real>7.1673970222473145</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>AO</string>
		<key>phonemeOpcode</key>
		<integer>4</integer>
		<key>time</key>
		<real>7.1677360236644745</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>r</string>
		<key>phonemeOpcode</key>
		<integer>32</integer>
		<key>time</key>
		<real>7.1677519977092743</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>l</string>
		<key>phonemeOpcode</key>
		<integer>27</integer>
		<key>time</key>
		<real>7.1687169969081879</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IH</string>
		<key>phonemeOpcode</key>
		<integer>8</integer>
		<key>time</key>
		<real>7.1690489947795868</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>p</string>
		<key>phonemeOpcode</key>
		<integer>31</integer>
		<key>time</key>
		<real>7.1696830093860626</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>s</string>
		<key>phonemeOpcode</key>
		<integer>33</integer>
		<key>time</key>
		<real>7.170054018497467</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>EH</string>
		<key>phonemeOpcode</key>
		<integer>7</integer>
		<key>time</key>
		<real>7.1706559956073761</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>n</string>
		<key>phonemeOpcode</key>
		<integer>29</integer>
		<key>time</key>
		<real>7.1718940138816833</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>d</string>
		<key>phonemeOpcode</key>
		<integer>20</integer>
		<key>time</key>
		<real>7.1725369989871979</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>IX</string>
		<key>phonemeOpcode</key>
		<integer>10</integer>
		<key>time</key>
		<real>7.1727490127086639</real>
	</dict>
	<dict>
		<key>phoneme</key>
		<string>%</string>
		<key>phonemeOpcode</key>
		<integer>0</integer>
		<key>time</key>
		<real>7.1729249954223633</real>
	</dict>
</array>
</plist>
