<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Douglas Adams</string>
	<string>Terry Pratchett</string>
	<string>Yancy Butler</string>
	<string>Bill Atkinson</string>
	<string>The Doctor</string>
	<string>Jerry Doyle</string>
	<string>Bruce Boxleitner</string>
	<string>Tracy Scoggins</string>
	<string>Claudia Christian</string>
	<string>Andrea Thompson</string>
	<string>Andreas Katsulas</string>
	<string>Richard Biggs</string>
	<string>Peter David</string>
	<string>J. Michael Straczynski</string>
	<string>Jeffery Deaver</string>
	<string>Jef Raskin</string>
	<string>Bruce Tognazzini</string>
	<string>Murray Gold</string>
	<string>Norbert Jacques</string>
	<string>Ludwig Uhland</string>
	<string>Christopher Eccleston</string>
	<string>Peter Woodward</string>
	<string>Tim Choate</string>
	<string>Angel Boris</string>
	<string>Captain Kirk</string>
	<string>Agent Sandoval</string>
	<string>Liam Kincaid</string>
	<string>Simon Templar</string>
	<string>James Bond</string>
	<string>John Grainer</string>
	<string>William Hartnell</string>
	<string>Jon Pertwee</string>
	<string>Sylvester McCoy</string>
	<string>Paul McGann</string>
	<string>Patrick Troughton</string>
	<string>Tom Baker</string>
	<string>Paul Atreides</string>
	<string>Vorian Atreides</string>
	<string>Duncan Idaho</string>
	<string>Gurney Halleck</string>
	<string>Chani</string>
	<string>Vladimir Harkonnen</string>
	<string>Bashar Miles Teg</string>
	<string>Norma Cenva</string>
	<string>Zufa Cenva</string>
	<string>Feydh Rauta</string>
	<string>Madame De Pompadour</string>
	<string>Abulurd Harkonnen</string>
	<string>Captain Jack Harkness</string>
	<string>Gwen Cooper</string>
	<string>Owen Harper</string>
	<string>Da'an</string>
	<string>So'or</string>
	<string>William Boone</string>
	<string>Clark Kent</string>
	<string>Betty Ross</string>
	<string>Heather Hudson-MacNeill</string>
	<string>Johnny Cash</string>
	<string>Ira Hayes</string>
	<string>Duncan MacLeod</string>
	<string>Mr. Incredible</string>
	<string>Darien Fawkes</string>
	<string>Barbara Gordon</string>
	<string>Bill Bixby</string>
	<string>David Banner</string>
	<string>Bhodi Li</string>
	<string>Daniel Jackson</string>
	<string>Gordon Lightfoot</string>
	<string>Doctor Mabuse</string>
</array>
</plist>
