<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Mathematics</string>
	<string>PE</string>
	<string>Drama</string>
	<string>Physics</string>
	<string>Biology</string>
	<string>Chemistry</string>
	<string>Music</string>
	<string>History</string>
	<string>Economics</string>
	<string>Asumptive Geodesics</string>
	<string>Creative Writing</string>
	<string>Shop</string>
</array>
</plist>
