<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Mashed Potatoes</string>
	<string>Rice</string>
	<string>Noodles</string>
	<string>Ramen Noodles</string>
	<string>Spring Rolls</string>
	<string>Chocolate</string>
	<string>Swiss Chocolate</string>
	<string>Sausages</string>
	<string>Dumplings</string>
	<string>Crumpets</string>
	<string>Roasted Peanuts</string>
	<string>Peanut Butter</string>
	<string>PB&amp;J Sandwiches</string>
	<string>Fish and Chips</string>
	<string>Pie</string>
	<string>Apple Pie</string>
	<string>Strawberries</string>
	<string>Blueberries</string>
	<string>Swiss Carrot Cake</string>
	<string>Hawaiian Poi</string>
</array>
</plist>
